body{
background-image: url(Images/tsburger.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}



.navbar {
    background-color: #f8f8f8; 
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid black; 
  }


    

  .navbar ul li {
    display: inline-block; 
    margin: 0 15px; 
  }

  

  .navbar ul li a {
    display: block;
    color: #333; /* Dark gray text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar  ul li a:hover{
    color: lightblue;
  }
 
 .navbar a:hover{
    animation: bounce 2.5s infinite;
 }
 @keyframes bounce {
    0%,
    100% {
        transform:translateY(0) ;
    }
    
    50% {
        transform: translateY(-10px);
    }
 }